@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Lato&display=swap');

header{
    background-color: #f2f2f2 ;
    width: 100%;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    display: flex;
    
}

body{
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: #f2f2f2 ;
    align-items: center;
    justify-content: space-between;
    box-shadow: #000;
    display: flex;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav ul li{
    line-height: 1.2;
    padding: 1rem;
    font-weight: bold;
}

.logo {
    width: 160px;
    float: left;
}

.icon-abrir, .icon-cerrar{
    display: none;
}

nav ul li a:hover{
    color: #1D5B79;
    cursor: pointer;
}

h1{
    font-weight: bold;
    font-size: 48px;
}

h2{
    font-weight: bold;
    font-size: 32px;
}

main{
    align-items: center;
    text-align: center;
    justify-content: space-between;
    max-width: auto;
    margin: auto;
}

.TextoBio{
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.TextoBio2{
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 40px, 40px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #8CC0DE;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding: 2.5rem;
}
.imagenInicio img{
    padding: 1rem;
    max-width: 100%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

p{
    font-size: 18px;
    line-height: 1.2;
    

}

.boton{
    padding: 64px, 64px;
    background-color: #068FFF;
    width: 200px;
    height: 65px;
    border-radius: 30px;
    border: none;
}

.boton-de-descarga{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
}

.boton-de-descarga:hover{

    color: #00ffd5;
    transition: all 0.5s;
    cursor: pointer;
}

.InfoContacto{
    display: flex;
    justify-content: center;
    list-style: none;

  }
  
  .contactos {
    display: flex;
    flex-direction: row;
  }
  
  .contactos li{
      margin: 0 6rem;
      list-style: none;
  }
  
  .contactos a {
      display: block;
      font-size: 5rem;
      color: #000;
  }

  .contactos a:hover{
    color: #1D5B79;
    transition: 0.5s;
    cursor: pointer;
  }

  
  footer{
    background-color: #1D5B79;
    color: white;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  }

  @media(max-width: 760px){


    .icon-abrir, .icon-cerrar{
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }

    .icon-abrir{
        color: #1D5B79;
        font-size: 38px;
        margin-right: 15px;
    }

    .icon-cerrar{
        color: #FFFFFF;
        font-size: 38px;
    }

    .menu-principal{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1D5B79;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        height: 100%;
        
    }

    .menu-principal.visible{
        opacity: 1;
        visibility: visible;
    }

    .menu-principal ul{
        flex-direction: column;
        align-items:center;

    }

    .menu-principal ul li a{
        font-size: 38px;
    }

    .menu-principal ul li a{
        color: #FFFFFF;
    }

    .menu-principal ul li a:hover{
        color: #FFFFFF;
    }

    .imagenInicio img{
        margin-top: 10px;
        max-width: 200px;
        max-height: 200px;
    }

    .InfoContacto {
        margin: 0 auto;
    }

    .InfoContacto .contactos{
        flex-direction: column;
    }




  }
